{% extends "layouts/base-fullscreen.html" %}

{% block title %} Confirmación Email {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card" style="width: 500px;">
                <div class="card-body text-center">

                    <div class="mb-2">
                        <img src="http://ljragusa.com.ar/FrioStats/images/logo.png">
                    </div>

                    <h3 class="mb-2">Confirme su Email</h3>
                    <span class="mb-0 text-muted">Para confirmar tu cuenta, haz click en el siguiente boton.</span>
                    <br>
                    <br>
                    <span class="mb-0 text-muted">En caso que no haberte registrado en nuestra pagina procede a contactarnos para tomar acciones.</span>
                    <br>
                    <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4 mt-4">Confirmar Email</button>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
