{% extends "layouts/base.html" %}

{% block title %} Perfil {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Cargar ID Telegram</h5>
                                        </div>                                       

                                        <div class="card-block">
                                            <span class="mb-0 text-muted">
                                                {% if msg %}
                                                {% if success %}
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <strong>{{ msg | safe }}</strong>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true" style="color: #299b85;">&times;</span>
                                                        </button>
                                                    </div>
                                                {% else %}
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                        <strong>{{ msg | safe }}</strong>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                {% endif %}
                                                {% endif %}
                                            </span>

                                            <div class="row">
                                                <div class="card-block border-bottom" style="width: 600px;">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-auto">
                                                            <i class="feather icon-edit-1 f-30 text-c-green"></i>
                                                        </div>
                                                        <div class="col">
                                                            <h3 class="f-w-300">Obtener ID telegram a traves del bot</h3>
                                                            <a href="https://t.me/FrioStats_bot" target="_blank"><button type="button" class="btn btn-primary"
                                                                    data-toggle="tooltip">Abrir chat con el bot de Telegram</button></a>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <div class="card-block border-bottom" style="width: 600px;">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-auto">
                                                            <i class="feather icon-at-sign f-30 text-c-blue"></i>
                                                        </div>                                                        
                                                        <div class="col">
                                                            <h4 class="f-w-300">Ingrese ID obtenido a través del chatbot de Telegram</h4>
                                                            <form role="form" method="POST" action="/profile/telegram">  
                                                                <input type="hidden" id="recibirTelegram" name="recibirTelegram" value="{{ recibirTelegram }}">
                                                                <input type="hidden" id="recibirEmail" name="recibirEmail" value="{{ recibirEmail }}">                                                              
                                                                <div class="input-group mt-3">
                                                                    <input type="text" class="form-control" id="idTelegram" name="idTelegram" placeholder="idTelegram" aria-describedby="basic-addon2">
                                                                    <div class="input-group-append">
                                                                        <button type="submit"  class="btn btn-primary" type="button">Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row d-flex align-items-center" style="width: 600px;">
                                                        <div class="col-auto">
                                                            <i class="feather icon-help-circle f-30 text-c-blue"></i>
                                                        </div>                                                        
                                                        <div class="col">                                              
                                                            <a class="btn btn-secondary m-t-5" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">Ayuda con Telegram</a>                             
                                                        </div>
                                                    </div>
                                                    <div class="collapse" id="collapseExample">
                                                        <div class="card-body"> 
                                                            <p class="mb-0">1- Click en el botón "Abrir chat con el bot de Telegram"
                                                                <br>2- Click en "Iniciar" en el chat de Telegram
                                                                <br>3- Enviar "/start" al bot
                                                                <br>4- Copiar el ID que le envía el bot
                                                                <br>5- Pegar el ID en el campo "Ingrese ID obtenido a través del chatbot de Telegram"
                                                                <br>6- Su telegram personal esta correctamente vinculado con el sistema de alertas
                                                            </p> 
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ config.ASSETS_ROOT }}/images/user/profile.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ current_user.nombre }} {{ current_user.apellido }}
                                                    </h4>                        
                                                    <p class="font-italic text-muted">
                                                        {{ current_user.rol }}
                                                    </p>
                                                    <p class="text-muted">
                                                        {{ current_user.email }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
