{% extends "layouts/base.html" %}

{% block title %} Roles {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/roles">Opciones</a></li>
                  <li class="breadcrumb-item"><a href="/roles/lista">Lista Usuarios</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Lista Usuarios</h5>
                  </div>
                  <div class="card-block">
                    <div class="card-block table-border-style">
                      <div class="table-responsive">
                        <table class="table table-hover tabla-con-mano">
                          <thead>
                            <tr class="bg-secondary text-light">
                              <th>Acción</th>
                              <th>ID</th>
                              <th>Apellido, Nombre</th>
                              <th>Rol actual</th>
                              <th>Email</th>
                              <th>Sucursal (ciudad-nombre-dirección)</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for empleado in empleados %}
                            <tr class="tabla-con-mano fila-usuario" data-id="{{ empleado['email'] }}" rolActual="{{ empleado['Rol']['descripcion'] }}">
                              <td class="align-middle"><button type="button" class="btn-sm btn-primary">Seleccionar</button></td>
                              <td class="align-middle">{{ empleado['id'] }}</td>
                              <td class="align-middle">{{ empleado['apellido'] }} , {{ empleado['nombre'] }}</td>
                              <td class="align-middle">{{ empleado['Rol']['descripcion'] }}</td>
                              <td class="align-middle">{{ empleado['email'] }}</td>
                              <td class="align-middle">
                              {% for sucursal in empleado['Sucursals'] %}
                                {{ sucursal['ciudad'] }} - {{ sucursal['nombre'] }} - {{ sucursal['direccion'] }}<br>
                              {% endfor %}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  // Esperar a que el documento esté listo
  document.addEventListener("DOMContentLoaded", function () {
    // Seleccionar todas las filas de usuario por su clase
    var filasUsuario = document.querySelectorAll(".fila-usuario");

    // Agregar un controlador de clic a cada fila
    filasUsuario.forEach(function (fila) {
      fila.addEventListener("click", function () {
        // Obtener el valor de data-id de la fila clicada
        var dataId = fila.getAttribute("data-id");
        var rolActual = fila.getAttribute("rolActual");
        // Construir la URL de redirección
        var url = "/roles/lista/" + dataId+"/"+rolActual;

        // Redirigir a la URL
        window.location.href = url;
      });
    });
  });
</script>
{% endblock javascripts %}