{% extends "layouts/base.html" %} {% block title %} Sucursales {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="/asignar_sucursales">Seleccion Usuario</a>
                  </li>
                  <li class="breadcrumb-item" style="color: white">
                    Asignación
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Asignación de Sucursales</h5>
                  </div>
                  <div class="card-block">
                    {% if msg %}
                    <div
                      class="alert alert-danger alert-dismissible fade show"
                      role="alert"
                    >
                      <strong>{{ msg | safe }}</strong>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %}

                    <div class="col-sm-12 mb-4">
                      <label for="email">Email del Usuario</label>
                      <input
                        class="form-control"
                        id="email"
                        name="email"
                        disabled
                        value="{{ email_empleado }}"
                      />
                    </div>

                    <div class="col-sm-12 form-group">
                      <h4 class="text-center">Sucursales ASIGNADAS</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="bg-secondary text-light">
                              <th>ID</th>
                              <th>Nombre</th>
                              <th>Dirección</th>
                              <th>Localidad</th>
                              <th>Acción</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% if data_sucursales['sucursalesUsuario']|length == 1%} 
                            {% for suc in data_sucursales['sucursalesUsuario'] %}
                            <tr>
                              <th class="align-middle">{{ suc['idSucursal'] }}</th>
                              <td class="align-middle">{{ suc['nombre'] }}</td>
                              <td class="align-middle">
                                {{ suc['direccion'] }}
                              </td>
                              <td class="align-middle">
                                {{ suc['ciudad'] }}, {{ suc['provincia'] }}
                              </td>
                              <td class="align-middle">
                                <form
                                  action="/actualizar_sucursal/{{ email_empleado }}/{{ suc['idSucursal'] }}/false"
                                  method="GET"
                                >
                                  <button disabled class="btn btn-danger btn-sm">
                                    Eliminar Asignación
                                  </button>
                                  <!-- Boton redondo y gris con simbolo info -->
                                  <button disabled type="button" class="btn btn-secondary btn-sm" 
                                  data-toggle="tooltip" data-placement="right" title="No puede eliminarse porque debe tener al menos una sucursal asignada."
                                  style=" text-align: center; ">
                                    <i class="feather icon-info" style="font-size: large; text-align: center; padding: 0px; margin: 0px; "></i>
                                </form>
                              </td>
                            </tr>
                            {% endfor %} 
                          {% else %} 
                            {% for suc in data_sucursales['sucursalesUsuario'] %}
                            <tr>
                              <th class="align-middle">{{ suc['idSucursal'] }}</th>
                              <td class="align-middle">{{ suc['nombre'] }}</td>
                              <td class="align-middle">
                                {{ suc['direccion'] }}
                              </td>
                              <td class="align-middle">
                                {{ suc['ciudad'] }}, {{ suc['provincia'] }}
                              </td>
                              <td class="align-middle">
                                <form
                                  action="/actualizar_sucursal/{{ email_empleado }}/{{ suc['idSucursal'] }}/false"
                                  method="GET"
                                >
                                  <button class="btn btn-danger btn-sm">
                                    Eliminar Asignación
                                  </button>
                                </form>
                              </td>
                            </tr>
                            {% endfor %} {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-12 form-group">
                      <h4 class="text-center">Sucursales no ASIGNADAS</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="bg-secondary text-light">
                              <th>ID</th>
                              <th>Nombre</th>
                              <th>Dirección</th>
                              <th>Localidad</th>
                              <th>Acción</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for suc in
                            data_sucursales['sucursalesNoAsignadas'] %}
                            <tr>
                              <th class="align-middle">{{ suc['id'] }}</th>
                              <td class="align-middle">{{ suc['nombre'] }}</td>
                              <td class="align-middle">
                                {{ suc['direccion'] }}
                              </td>
                              <td class="align-middle">
                                {{ suc['ciudad'] }}, {{ suc['provincia'] }}
                              </td>
                              <td class="align-middle">
                                <form
                                  action="/actualizar_sucursal/{{ email_empleado }}/{{ suc['id'] }}/true"
                                  method="GET"
                                >
                                  <button class="btn btn-success btn-sm">
                                    Asignar
                                  </button>
                                </form>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block javascripts %}
<script>
  function getCookie(name) {
    var value = '; ' + document.cookie;
    var parts = value.split('; ' + name + '=');
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
</script>
{% endblock javascripts %}
