{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../static/assets/css/tablaalerta.css">
<link rel="stylesheet" href="../static/assets/css/maquinasenplano.css">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
  .tablaoculta {
    display: none;
  }
</style>
<link rel="stylesheet" href="../static/assets/css/modalparametros.css">
{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/panel/{{id_super}}">Panel</a></li>
                  <li class="breadcrumb-item">Editar Parámetro</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div class="col-xl-12 col-md-6">
                <div class="card Recent-Users">
                  <div class="card-header">
                    <h5>Editar Parámetro: "{{parametro}}"</h5>
                  </div>
                  <div class="card-block px-0 py-0">
                    <div class="table-responsive">
                      <form role="form" method="POST" action="/parametro/{{idMaquina}}/{{parametro}}">
                        <div class="col-sm-12 mb-4">
                          <label for="minimo">Valor Minimo</label>
                          {% if valores['minimo'] %}
                          <input class="form-control" id="email" name="email" placeholder="Ingrese el email del Usuario"
                            value="{{ email_empleado }}">
                          {% else %}
                          <input class="form-control" id="email" name="email" placeholder="Ingrese el email del Usuario">
                          {% endif %}
                        </div>
                      
                        <div class="col-sm-12 form-group">
                          <label for="exampleFormControlSelect1">Rol a Asignar</label>
                          <select class="form-control" id="rolSeleccionado">
                            {% for rol in data_roles['elemts'] %}
                            <option value="{{ rol['id'] }}">{{ rol['descripcion'] }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      
                        <div class="col-sm-12 mb-2">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function marcarLeido(notificacionId) {
    var fila = document.getElementById("notificacion-" + notificacionId);
    fila.parentNode.removeChild(fila);

    var userToken = getCookie("token"); // Obtener el token de la cookie

    var myHeaders = new Headers();
    myHeaders.append("user-token", userToken);

    var requestOptions = {
      method: 'PATCH',
      headers: myHeaders,
      redirect: 'follow'
    };

    fetch("http://ljragusa.com.ar:3001/notificaciones/" + notificacionId, requestOptions);
  }

  // Función para obtener el valor de una cookie por su nombre
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) return parts.pop().split(";").shift();
  }
</script>

<script>
  const botones = document.querySelectorAll('.boton-maquina');
  botones.forEach(boton => {
    boton.addEventListener('click', () => {
      tablaOcultar.style.display = 'block'; // Cambia el estilo para mostrar la tabla oculta
      tablaOcultar.scrollIntoView({ behavior: 'smooth' }); // Desplaza la página al div con animación suave
      const idMaquina = boton.getAttribute('idMaquina'); // Obtiene el texto del atributo data-boton
      //ver que hacer despues
      const url = `/medicion/${idMaquina}`;
      const tablaContainer = document.getElementById('tabla-container');
      fetch(url)
        .then(response => response.json())
        .then(data => {
          tablaContainer.innerHTML = data.tablamediciones;
        });
    });
  });

</script>

<script>
        // Función para manejar el clic en la imagen
//  function handleClick(event) {
//    const img = document.getElementById('plano');
//    const rect = img.getBoundingClientRect(); // Rectángulo que rodea la imagen
//    const offsetX = event.clientX - rect.left; // Coordenada x relativa en la imagen
//    const offsetY = event.clientY - rect.top;  // Coordenada y relativa en la imagen
//
//    const coordenadasVal = document.getElementById('coordenadasVal');
//    coordenadasVal.textContent = `Left: ${offsetX}px, Top: ${offsetY}px`;
//  }
//
//  // Agregar el evento click al elemento de la imagen
//  document.getElementById('plano').addEventListener('click', handleClick);
</script>

{% endblock javascripts %}