{% extends "layouts/base.html" %}

{% block title %} Inicio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="../static/assets/css/mapadark.css">
<link rel="stylesheet" href="../static/assets/css/cursormanito.css">

{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content" style="padding: 20px; padding-right: 10px;">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">    
                            {% if supermercados %}
                            <div id="mapa">
                                <div class="col-xl-12">
                                    <div class="card" style="margin-bottom: 10px;">
                                        <!-- <div class="card-header"> <h5>Mapa Supermercados</h5> </div> -->
                                        <div class="card-block" style="padding: 10px;">
                                            <div id="map" style="height: 500px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div id="tabla">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <!-- <div class="card-header">
                                            <h5>Tablero Supermercados</h5>
                                        </div>                                         -->
                                        <div class="card-block table-border-style" style="padding: 10px;">
                                            <div class="table-responsive">
                                                <table class="table table-hover tabla-con-mano">
                                                    <thead>
                                                        <tr>
                                                            <th>Acción</th>
                                                            <th>ID</th>
                                                            <th>Nombre</th>
                                                            <th>Localidad</th>
                                                            <th>Dirección</th>
                                                            <th>Teléfono</th>
                                                            <th>Notificaciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>                                                      
                                                        {% for super in supermercados %}
                                                            <tr class="tabla-con-mano" data-id="{{ super['id'] | safe }}">
                                                                <td class="align-middle" style="padding: 0px;"><a href="/panel/{{super['id']}}"><button type="button" class="btn-sm btn-primary" style="width: 100%; height: 100%; cursor: pointer;">Abrir en Panel</button></a></td>
                                                                <td class="align-middle">{{ super['id'] }}</td>
                                                                <td class="align-middle">{{ super['nombre'] }}</td>
                                                                <td class="align-middle">{{ super['ciudad'] }} , {{ super['provincia'] }}</td>
                                                                <td class="align-middle">{{ super['direccion'] }}</td>
                                                                <td class="align-middle">{{ super['telefono'] }}</td>
                                                                {% for noti in notificaciones %}
                                                                        {% if noti['id'] == super['id'] %}                                                                                                                                                        
                                                                            <td class="align-middle">
                                                                                {% if noti['cantGraves'] != 0 %}
                                                                                <span id="notiGrave" class="badge badge-pill bg-danger text-dark">{{ noti['cantGraves'] }}</span>
                                                                                {% endif %}
                                                                                {% if noti['cantLeves'] != 0 %}
                                                                                <span id="notiLeve" class="badge badge-pill bg-warning text-dark">{{ noti['cantLeves'] }}</span>
                                                                                {% endif %}
                                                                                {% if noti['cantGraves'] == 0 and noti['cantLeves'] == 0 %}
                                                                                <span id="sinNoti" class="badge badge-pill bg-success text-dark">✔</span>
                                                                                {% endif %}
                                                                            </td>                                                                            
                                                                        {% endif %}
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="card"> 
                                <div class="card-block"> 
                                    <p class="text-warning" style="font-size: large;"><i class="feather icon-alert-circle" style="color: #ffc107"></i>  Aún no tiene una sucursal asignada, pongase en contacto con su supervisor </p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="../static/assets/js/mapadark.js"></script>

<script>
    // Agregar pines de ubicación
    {% if supermercados %}
        {% for super in supermercados %}
        var coordenadas = "{{ super['coordenadas'] }}";
        var coordenadas_array = coordenadas.split(', ');
        var latitude = parseFloat(coordenadas_array[0]);
        var longitude = parseFloat(coordenadas_array[1]);
        var marker = L.marker([latitude, longitude], { icon: customIcon });
        marker.addTo(map);
        marker.on('click', function () {
            var supermercadoId = {{ super['id'] }};
            scrollToTable(supermercadoId);
        });
        {% endfor %}
        function scrollToTable(supermercadoId) {
            $('html, body').animate({
                scrollTop: $('#tabla').offset().top
            }, 800);
            
            $('#tabla tr').css({'background-color': ''}); // Eliminar resaltado de otras filas
            $('#tabla tr[data-id="' + supermercadoId + '"]').css({'background-color': '#0082e178'});
        }

        function showPinInfo(pinId) {
            // Hacer una solicitud AJAX para obtener la información del pin desde el servidor Flask
            // Puedes usar jQuery para hacer esto o fetch API de JavaScript
            // Por simplicidad, aquí asumiremos que tienes una función `getPinInfoFromServer` para hacer la solicitud
            fetch(`/get_pin_info/${pinId}`)
                .then(response => response.json())
                .then(data => {
                    // Mostrar la tabla con la información debajo del mapa
                    // Por simplicidad, asumiremos que tienes una función `showInfoTable` para mostrar la información
                    showInfoTable(data);
                    // Desplazar la página hacia la tabla de información
                    // Por simplicidad, asumiremos que tienes una función `scrollToInfoTable` para desplazar la página
                    scrollToInfoTable();
                });
        }

        var supermercadosList = {{ supermercados | tojson | safe }};
        function getCoordinatesById(id) {
            for (var i = 0; i < supermercadosList.length; i++) {
                if (supermercadosList[i].id === id) {
                    var coordinates = supermercadosList[i].coordenadas.split(', ');
                    var latitude = parseFloat(coordinates[0]);
                    var longitude = parseFloat(coordinates[1]);
                    return { lat: latitude, lng: longitude };
                }
            }
            return null;
        }

        $(document).ready(function () {
            $("tr").click(function () {
                var id = $(this).data("id");
                $('#tabla tr').css({'background-color': ''}); // Eliminar resaltado de otras filas
                $('#tabla tr[data-id="' + id + '"]').css({'background-color': '#0082e178'});
                coordenadas = getCoordinatesById(id);
                if (coordenadas) {
                    console.log('Latitud:', coordenadas.lat);
                    console.log('Longitud:', coordenadas.lng);
                } else {
                    console.log('Supermercado no encontrado');
                }
                var latitud = coordenadas.lat;
                var longitud = coordenadas.lng;
                var mapaElement = document.getElementById('mapa');
                if (mapaElement) {
                    mapaElement.scrollIntoView({ behavior: 'smooth' });
                }
                map.flyTo([latitud, longitud], 18,{ duration: 2 });
            });
        });
    {% endif %}
</script>


{% endblock javascripts %}
