{% extends "layouts/base-fullscreen.html" %}

{% block title %} 403 Page {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    {% if mensaje is defined %}
                    <h3 class="mb-4">Error</h3>
                    <span class="mb-2 text-muted">{{mensaje}}</span>
                    {% else %}
                    <h3 class="mb-4">Error 403</h3>
                    <br>
                    <span class="mb-2 text-muted">Acceso denegado</span>
                    {% endif %}
                    <br>
                    <br>
                    <a href="/" class="btn btn-primary mr-0">Ir al Inicio</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
