{% extends "layouts/base.html" %} {% block title %} Panel {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../static/assets/css/tablaalerta.css" />
<link rel="stylesheet" href="../static/assets/css/maquinasenplano.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<style>
  .tablaoculta {
    display: none;
  }
</style>
<link rel="stylesheet" href="../static/assets/css/modalparametros.css" />
{% endblock stylesheets %} {% block content %}
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content" style="padding-top: 10px;">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <ul class="breadcrumb" style="margin-bottom: 0px;">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="/panel/{{id_super}}">Panel</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            {% if notificaciones['elemts']|length != 0 %}
            <div class="row">
              <div class="col-xl-12 col-md-6">
                <div class="card Recent-Users" style="margin-bottom: 10px;">
                  <div class="card-header" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5>Notificaciones</h5>
                  </div>
                  <div class="card-block px-0 py-0">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>                          
                          <tr>
                            <td style="width:300px"><button type="button" class="btn-sm btn-success" onclick="marcarLeidoTodas()"> ✔ </button> Marcar todas como leído</td>
                            <td style="width:300px"><span class="tabla-alerta-rojo" style="padding:10px; color: black;">Alta importancia</span></td>
                            <td><span class="tabla-alerta-amarillo" style="padding:10px; color: black;">Baja importancia</span></td>             
                          </tr>
                        </tbody>
                      </table>
                    </div>                    
                    <div id="carousel" class="carousel">
                      {% for maquina in notificaciones['elemts'] %} 
                        {% for noti in maquina['Notificaciones'] %} 
                          {% if contador['val'] == 0 %}
                          <div class="carousel-item">
                            <div class="table-responsive">
                              <table class="table">
                                <tbody>
                                  <thead>
                                    <th style="width:200px">Marcar como leído</th>
                                    <th style="width:200px">Máquina N°</th>
                                    <th>Detalle de la notificación</th>
                                  </thead>
                          {% endif %}                            
                            
                          {% if noti['Tipo']['id']==1 %}
                                  <tr id="notificacion-{{ noti['id'] }}" class="tabla-alerta-amarillo">
                          {% else %}
                                  <tr id="notificacion-{{ noti['id'] }}" class="tabla-alerta-rojo">
                          {% endif %}
                                  <td><button type="button" class="btn-sm btn-success" onclick="marcarLeido({{ noti['id'] }})"> ✔ </button></td>
                                  <td>{{maquina['idMaqSuc']}}</td>
                                  <td>{{noti['descripcion']}}</td>
                                  </tr>
                          {% if contador['val'] == 5 %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            {% set _ = contador.update({'paginas': contador['paginas']+1}) %}
                            {% set _ = contador.update({'val': 0}) %}                        
                          {% else %}
                            {% set _ = contador.update({'val': contador['val']+1}) %}
                          {% endif %}                    
                        {% endfor %} 
                      {% endfor %}
                      {% if contador['val'] > 0 %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            {% set _ = contador.update({'val': 0}) %}       
                            {% set _ = contador.update({'paginas': contador['paginas']+1}) %}                 
                      {% endif %}
                    </div>   
                    <div style="text-align: center;" class="mb-4">
                      <button type="button" class="btn btn-primary" id="anterior-btn">Anterior</button>
                      <button type="button" class="btn btn-primary" id="siguiente-btn">Siguiente</button>
                      <h5>Página de notificaciones <span id="pagina-info"></span> de <span id="paginas-info"></span></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col-xl-12 col-md-6">
                <div class="card Recent-Users" style="margin-bottom: 10px;">
                  <div class="card-header" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5>Plano del Supermercado</h5>
                  </div>
                  <div id="coordenadas">
                    <!-- Para ver las coordenadas haciendo click en el plano  -->
                    <!-- <h3>Coordenadas: <span id="coordenadasVal"></span></h3>  -->
                  </div>
                  <div style="position: relative;">
                    <div class="card-block px-4 py-4">
                      <img id="plano" src="http://ljragusa.com.ar/images/{{nombrePlano}}"/>
                      {% if maquinas %}
                        {% for maquina in maquinas %}
                          <div class="boton-maquina" id="boton{{ maquina['id'] }}" idMaquina="{{ maquina['id'] }}" style="{{maquina['coords']}}"><span class="material-symbols-outlined">{{ maquina['icono'] }}</span></div>
                        {% endfor %}
                      {% endif %}
                      <!-- <div class="boton-maquina" id="boton1" idMaquina="1" style="left: 90%; top: 40%"><span class="material-symbols-outlined">ac_unit</span></div>
                      <div class="boton-maquina" id="boton1" idMaquina="1" style="left: 90%; top: 68%"><span class="material-symbols-outlined">ac_unit</span></div>
                      <div class="boton-maquina" id="boton1" idMaquina="1" style="left: 45%; top: 91%"><span class="material-symbols-outlined">kitchen</span></div>
                      <div class="boton-maquina" id="boton1" idMaquina="1" style="left: 80%; top: 62%"><span class="material-symbols-outlined">kitchen</span></div>
                      <div class="boton-maquina" id="boton2" idMaquina="2" style="left: 25%; top: 91.5%"><span class="material-symbols-outlined">kitchen</span></div>
                      <div class="boton-maquina" id="boton2" idMaquina="2" style="left: 66%; top: 91.5%"><span class="material-symbols-outlined">kitchen</span></div>
                      <div class="boton-maquina" id="boton2" idMaquina="2" style="left: 79.5%; top: 84%"><span class="material-symbols-outlined">kitchen</span></div>
                      <div class="boton-maquina" id="boton3" idMaquina="3" style="left: 49%; top: 3.5%"><span class="material-symbols-outlined">blanket</span></div>              
                      <div class="boton-maquina" id="boton3" idMaquina="3" style="left: 65%; top: 3.5%"><span class="material-symbols-outlined">blanket</span></div>               -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tablaoculta" id="tablaOcultar">
              <div id="tabla-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // Botones de navegación
    const anteriorBtn = document.getElementById('anterior-btn');
    const siguienteBtn = document.getElementById('siguiente-btn');

    // Carrusel
    const carousel = document.getElementById('carousel');
    let currentIndex = 0;
    let cantPaginas = {{ contador['paginas'] }};
    actualizarPaginaInfo();
    const items = carousel.querySelectorAll('.carousel-item');

    // Ocultar todos los elementos excepto el primero
    items.forEach((item, index) => {
        if (index !== 0) {
            item.style.display = 'none';
        }
        else {
            item.style.display = 'block';
        }
    });

    // Mostrar el índice anterior del carrusel
    function mostrarAnterior() {
        if (currentIndex > 0) {
            items[currentIndex].style.display = 'none';
            currentIndex--;
            items[currentIndex].style.display = 'block';
            actualizarPaginaInfo();
        }
    }

    // Mostrar el índice siguiente del carrusel
    function mostrarSiguiente() {
        if (currentIndex < items.length - 1) {
            items[currentIndex].style.display = 'none';
            currentIndex++;
            items[currentIndex].style.display = 'block';
            actualizarPaginaInfo();
        }
    }

    // Actualizar información de la página (currentIndex y cantPaginas)
    function actualizarPaginaInfo() {
        document.getElementById('pagina-info').textContent = currentIndex + 1;
        document.getElementById('paginas-info').textContent = cantPaginas;
    }

    // Asignar eventos a los botones de navegación
    anteriorBtn.addEventListener('click', mostrarAnterior);
    siguienteBtn.addEventListener('click', mostrarSiguiente);
</script>
<script>
  function marcarLeido(notificacionId) {
    var fila = document.getElementById('notificacion-' + notificacionId);
    fila.parentNode.removeChild(fila);

    var userToken = getCookie('token'); // Obtener el token de la cookie

    var myHeaders = new Headers();
    myHeaders.append('user-token', userToken);

    var requestOptions = {
      method: 'PATCH',
      headers: myHeaders,
      redirect: 'follow',
    };

    fetch(
      'http://ljragusa.com.ar:3001/notificaciones/' + notificacionId,
      requestOptions
    );
  }
  function marcarLeidoTodas() {
    var userToken = getCookie('token'); // Obtener el token de la cookie
    var myHeaders = new Headers();
    myHeaders.append('user-token', userToken);

    var requestOptions = {
      method: 'PATCH',
      headers: myHeaders,
      redirect: 'follow',
    };

    fetch(
          'http://ljragusa.com.ar:3001/notificaciones/checkAll/' + {{id_super}},
          requestOptions
        ).then(response => {
          if (response.status === 200) {
            document.location.reload();
          }
        })
  }

  // Función para obtener el valor de una cookie por su nombre
  function getCookie(name) {
    var value = '; ' + document.cookie;
    var parts = value.split('; ' + name + '=');
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
</script>

<script>
  const botones = document.querySelectorAll('.boton-maquina');
  var id_super = {{ id_super }};
  botones.forEach(boton => {
    boton.addEventListener('click', () => {
      tablaOcultar.style.display = 'block'; // Cambia el estilo para mostrar la tabla oculta      
      const idMaquina = boton.getAttribute('idMaquina'); // Obtiene el texto del atributo data-boton
      const url = `/medicion/${id_super}/${idMaquina}`;
      const tablaContainer = document.getElementById('tabla-container');
      fetch(url)
        .then(response => response.json())
        .then(data => {
          tablaContainer.innerHTML = data.tablamediciones;
          tablaOcultar.scrollIntoView({ behavior: 'smooth' }); // Desplaza la página al div con animación suave
        });
    });
  });
</script>

<script>
//   // Función para manejar el clic en la imagen
// function handleClick(event) {
//   const img = document.getElementById('plano');
//   const rect = img.getBoundingClientRect(); // Rectángulo que rodea la imagen
//   const offsetX = event.clientX - rect.left; // Coordenada x relativa en la imagen
//   const offsetY = event.clientY - rect.top;  // Coordenada y relativa en la imagen

//   // Obtener las dimensiones de la imagen en píxeles
//   const width = img.width;
//   const height = img.height;

//   // Convertir las coordenadas a porcentaje
//   const offsetXPercent = (offsetX / width) * 100;
//   const offsetYPercent = (offsetY / height) * 100;

//   // Mostrar las coordenadas en porcentaje
//   const coordenadasVal = document.getElementById('coordenadasVal');
//   coordenadasVal.textContent = `left: ${offsetXPercent.toFixed(2)}%; top: ${offsetYPercent.toFixed(2)}%`;
// }
// // Agregar el evento click al elemento de la imagen
// document.getElementById('plano').addEventListener('click', handleClick);

</script>

{% endblock javascripts %}
