{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Editar Información</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputUsername">Usuario</label>
                                                        <input class="form-control" id="exampleInputUsername" readonly 
                                                               value="{{ current_user.username }}"
                                                               aria-describedby="userHelp" placeholder="Ingresar Usuario">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label {% if not current_user.email %} class="text-danger" {% endif %} 
                                                               for="exampleInputEmail1">Dirección Email</label>
                                                        <input type="email"
                                                               {% if current_user.email %} readonly value="{{ current_user.email }}" {% endif %}  
                                                               class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar email">
                                                        {% if not current_user.email %}       
                                                            <small id="emailHelp" class="form-text text-danger">
                                                                No tenes un email asociado a esta cuenta.
                                                            </small>
                                                        {% endif %}    
                                                    </div>
                                                </div>                                                
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fn">Nombre/s</label>
                                                        <input type="email" class="form-control" id="fn" aria-describedby="emailHelp" placeholder="Tu nombre">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="ln">Apellido/s</label>
                                                        <input type="email" class="form-control" id="ln" aria-describedby="emailHelp" placeholder="Tu apellido">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">ID Telegram</label>
                                                        <input type="email" class="form-control" id="add" aria-describedby="emailHelp" placeholder="Ejemplo: Av Argentina 123">
                                                        <small id="addd" class="form-text text-muted">ID de la app Telegram para envíarle notificaciones.</small>
                                                    </div>
                                                </div>
                                                <div class="form-check col-sm-12 mb-4">
                                                    <fieldset>
                                                        <legend>Recibir notificaciones por Telegram</legend>
                                                        <label>
                                                            <input type="radio" name="notificacionTelegram" id="notificacionTelegram" value="1">Si
                                                        </label>
                                                        <br>
                                                        <label>
                                                            <input type="radio" name="notificacionTelegram" id="notificacionTelegram" value="0">No
                                                        </label>
                                                    </fieldset>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                                    </div>
                                                </div>                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ config.ASSETS_ROOT }}/images/user/profile.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ current_user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {% if current_user.email %} {{ current_user.email }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
