{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="../static/assets/css/switchlindo.css">
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Editar Información</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label {% if not current_user.nombre %} class="text-danger" {% endif %} 
                                                                for="exampleInputNombre">Nombre</label>
                                                        <input type="text" 
                                                            {% if current_user.nombre %} readonly value="{{ current_user.nombre }}" {% endif %}
                                                            class="form-control" id="exampleInputEmail1" aria-describedby="nombreHelp" placeholder="Ingresar nombre">
                                                        {% if not current_user.nombre %}
                                                        <small id="nombreHelp" class="form-text text-danger">
                                                            No tenes un nombre asociado a esta cuenta.
                                                        </small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label {% if not current_user.email %} class="text-danger" {% endif %} 
                                                               for="exampleInputEmail1">Dirección Email</label>
                                                        <input type="email"
                                                               {% if current_user.email %} readonly value="{{ current_user.email }}" {% endif %}  
                                                               class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar email">
                                                        {% if not current_user.email %}       
                                                            <small id="emailHelp" class="form-text text-danger">
                                                                No tenes un email asociado a esta cuenta.
                                                            </small>
                                                        {% endif %}    
                                                    </div>
                                                </div>                                       
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="idTelegram">ID Telegram</label>
                                                        <input class="form-control" id="idTelegram" aria-describedby="idTelegramHelp" placeholder="Ingrese su ID de Telegram">                                                
                                                    </div>
                                                </div>                                                
                                                <div class="row col-sm-12 ml-5 mb-4 ">
                                                    <div style="width: 50%; float:left">
                                                        <label>Recibir notificaciones por Telegram</label>
                                                        <br>
                                                        <label class="switch">
                                                            <input id="notificarPorTelegram" type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <div style="width: 50%; float:right">
                                                        <label>Recibir notificaciones por Email</label>
                                                        <br>
                                                        <label class="switch">
                                                            <input id="notificarPorEmail" type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                                    </div>
                                                </div>                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ config.ASSETS_ROOT }}/images/user/profile.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ current_user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {% if current_user.email %} {{ current_user.email }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
